<div style ="margin:auto;width:900px">
<div id="mooglewelcome_hype_container" style="position:relative;overflow:hidden;width:900px;height:400px;">
  <script type="text/javascript" charset="utf-8" src="assets/mooglewelcome_hype_generated_script.js?15826"></script>
</div>
</div>