<% unless @comments.empty? %>
  <table class="movie-comments" summary="Movie comments">
    <%= render :partial => 'comments/comment_item', :collection => @comments %>
  </table>
  <%= will_paginate @comments %>
<% end %>
