<tr>
  <td class="comment">
    <span class="comment-user"><%= comment.omniuser.screen_name %></span>
    <span class="comment-content"><%= comment.comment %></span>
    <span class="comment-timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
  </td>
</tr>
