<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% movies.each do |movie| %>
  <% if movie.source %>
    <tr>
      <td>
        <div><%= link_to(image_tag(movie.picture, alt: movie.source), movie) %></div>
      </td>
      <td>
        <div>Band: <%= link_to movie.band.name, band_path(movie.band) %>(<%= movie.length %>)</div>
        <div>Concert: <%= link_to movie.concert.name, concert_path(movie.concert) %></div>
      </td>
    </tr>
  <% end %>
<% end %>

</table>
<br />