<header>
	<%= image_tag("logo.png", alt: "Moogle") %>
	<form name="searchform" id="searchform" method="get" action="#">  
		<input name="keywords" id="keywords" value="" type="text" />
		<input type="button" />  
	</form>
</header>